body {
    background-color: rgb(196, 146, 146);
}

h1 {
    color: aqua
}

h3 {
    color: deeppink;
}

#pierwszy {
    color: aquamarine;
}

#drugi {
    color: blue;
}

span1 {
    color: greenyellow;
}

span2 {
    color: brown;
}

span3 {
    color: yellow;
}

span4 {
    color: orangered;
}

span5 {
    color: purple;
}